@{
    ViewData["Title"] = "PERSONA";
}

<h1>PERSONA</h1>
<br />

<h3>Numero de Indentidad</h3>

<input type="text" name="nombredelacaja"><br />
<br />
<h3>Nombre</h3>
<input type="text" name="nombredelacaja"><br />
<br />
<h3>Que Necesitas?</h3>
<input type="text" name="nombredelacaja"><br />
<br />
<h3>Cuál es el tipo de evento?</h3>
<input type="text" name="nombredelacaja"><br />
<br />
<h3>Dónde?</h3>
<input type="text" name="nombredelacaja"><br />
<br />
<h3>Cuantos?</h3>
<input type="text" name="nombredelacaja">
<br />



<p>Hello from our View Template!</p>