@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:#FEFE00" ; class="display-4">Es momento de Celebrar </h1>
    <h5 style="color:#FEFE00" ; class="display-4">Cotiza con nosotros y recibe las mejores ofertas </h5>
    <style>
        body {
            background-image: url(" http://www.ee-today.com/wp-content/uploads/2017/05/verdad-o-reto1.jpg");
        }
    </style>

    <p style="color:#FFFFFF" ;>Cotiza con nosotros y recibe las mejores ofertas</p>
    
        <input style="color:#ff0000" ; onclick=" location.href='https://localhost:44377/Cliente' "; type="button" value="Solicita tu cotización">

</div>
